@using MedicaWeb_MVC.ViewModels.Courses
@model CommentVM
<div class="question-item p-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="d-flex">
                <div class="avatar-container avatar-bg-1 me-3 flex-shrink-0">
                    @if (!string.IsNullOrEmpty(Model.UserImgUrl))
                    {
                        <img src="@Model.UserImgUrl" alt="@Model.UserName" class="student-avatar" />
                    }
                    else
                    {
                        <div class="default-avatar">
                            <span>@(Model.UserName.Substring(0, 2).ToUpper())</span>
                        </div>
                    }
                </div>
                <div>
                    <span class="question-title fw-bold text-dark">@Model.Title ·</span>
                    <span class="time-ago">@Model.CreatedAt</span>

                    <p class="question-description mt-1">@Model.Details</p>
                    <div class="lecture-info">
                        <a href="#" class="lecture-link text-grey fst-italic">@Model.UserName</a> ·
                        <span><a class="text-green reply-btn" href="#" id="reply-btn-@Model.Id"
                                data-parent-id="@Model.Id">Reply</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-md-end align-items-center mt-3 mt-md-0">
            <div class="comments-count bg-yellow px-2" data-target="#reply-container-@Model.Id"
                style="cursor: pointer;">
                <i class="far fa-comment-alt me-1"></i> @Model.ReplyComments.Count()
            </div>
        </div>
    </div>
    @* Reply Comment Form Template *@
    @await Html.PartialAsync("PartialViews/_ReplyCommentForm",
    new CommentCreateVM
    {
        ClassID = Model.ClassID,
        SrcCommentID = Model.Id
    })


    @* Reply Comment Display Template *@
    <div class="reply-container ms-5 mt-3 d-none" id="reply-container-@Model.Id">
        @foreach (var reply in Model.ReplyComments)
        {
            @await Html.PartialAsync("PartialViews/_ReplyComment", reply)
        }
    </div>
</div>

<style>
    .student-avatar,
    .default-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>
