@using MedicaWeb_MVC.ViewModels.Classes
@model ClassVM
<div class="col-md-6 col-lg-4">
    <a asp-action="Details" asp-controller="Classrooms" asp-route-id="@Model.Id" class="text-decoration-none">

        <div class="card h-100 border-0 shadow-sm hover-card d-flex flex-column" style="height: 100%;">
            <div class="position-relative">
                <img src="@Model.Course.ImgUrl" class="card-img-top" alt="@Model.Course.Name"
                    style="height: 150px; object-fit: cover;">
                <div class="position-absolute bottom-0 start-0 w-100 p-3 bg-gradient-dark">
                    <span
                        class="badge bg-@(Model.Mode.ToString() == "Online" ? "success" : "secondary-subtle text-black") rounded-pill">
                        @Model.Mode
                    </span>
                </div>
            </div>
            <div class="card-body p-4 d-flex flex-column">
                <h5 class="card-title fw-bold mb-3 line-clamp-2 text-center text-green">@Model.Course.Name</h5>
                <p class="card-text text-muted mb-3 text-center">
                    <i class="bi bi-person-circle me-2"></i>@Model.Lecturer.FullName
                </p>
                <div class="mb-4">
                    <div class="row g-2 text-muted small">
                        <div class="col-6">
                            <i class="bi bi-calendar-event me-2"></i>Start: <br> @Model.StartDate.ToString("dd/MM/yyyy")
                        </div>
                        <div class="col-6">
                            <i class="bi bi-calendar-check me-2"></i>End: <br> @Model.EndDate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-people-fill me-1 text-muted"></i>
                        <small class="text-muted">@Model.TotalEnrolls / @Model.MaxParticipant participants</small>
                    </div>
                    <button
                        class="badge btn btn-@(Model.ComputedStatus.ToString() == "Ongoing" ? "orange" : (Model.ComputedStatus.ToString() == "Complete" ? "green" : "orange-outline")) rounded-pill">
                        <i class="bi bi-eye me-2"></i> @Model.ComputedStatus
                    </button>
                </div>
            </div>
        </div>
    </a>
</div>

<style>
    .hover-card {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: 0px 4px 10px var(--secondary-color) !important;
    }

    .hover-card:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 15px rgb(255, 211, 129) !important;
    }

    .bg-gradient-dark {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    }
</style>