@model FilterButtonVM

<div class="mb-4">
    <div class="d-flex gap-2 flex-wrap">
        <a asp-action="@Model.Action" asp-controller="@Model.Controller" asp-route-courseId="@Model.CourseId"
            class="btn btn-lg px-4 @(!Model.ClassroomStatus.HasValue ? "btn-orange" : "btn-green-outline") rounded-pill">
            <i class="bi bi-grid-3x3-gap-fill me-2"></i> All
        </a>
        @foreach (var filter in Enum.GetValues(typeof(ClassroomStatus)).Cast<ClassroomStatus>())
        {
            @if (filter != ClassroomStatus.Active && filter != ClassroomStatus.Cancelled)
            {
                <a asp-action="@Model.Action" asp-controller="@Model.Controller" asp-route-classroomStatus="@filter.ToString()"
                    asp-route-courseId="@Model.CourseId"
                    class="btn btn-lg px-4 @(Model.ClassroomStatus == filter ? "btn-orange" : "btn-green-outline") rounded-pill">
                    <i
                        class="bi @(filter == ClassroomStatus.Completed ? "bi-check-circle" : (filter == ClassroomStatus.Upcoming ? "bi-calendar-event" : "bi-play-circle")) me - 2"></i>
                    @filter.ToString().Replace("_", " ")
                </a>
            }
        }
    </div>
</div>
