@using MedicaWeb_MVC.ViewModels
@model ClassDetailsVM
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.Course.ImgUrl" alt="Course Image" class="img-fluid">
            <p><strong>Max Participants:</strong> @Model.Classroom.MaxParticipant students</p>
            <p><strong>Created by:</strong> @string.Concat(Model.Classroom.Lecturer.LastName, " ", Model.Classroom.Lecturer.FirstName)</p>
            <p><strong>Last Updated:</strong> @Model.Classroom.UpdatedAt.ToString("MM/dd/yyyy")</p>
            <p><strong>Duration:</strong> @Model.Course.Duration hours</p>
        </div>
        <div class="col-md-8">
            <h1>@Model.Course.Name</h1>
            <p>@Model.Course.Description</p>
        </div>
    </div>
</div>

