@model LecturerClassroomVM

<div class="container">
    <form class="mb-2" method="get" action="@Url.Action("Search", "LecturerClassroom")">
        <div class="row d-flex justify-content-between">
            <div class="col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control me-2" asp-for="Keyword" placeholder="Search classrooms" style="border-radius: 15px;">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <select class="form-select mb-3" asp-for="CategoryId">
                    <option value="0">All Categories</option>
                    @foreach (var category in Model.Categories!)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="col-md-2">
                <select class="form-select mb-3" asp-for="ClassroomStatus">
                    <option value="All">All Status</option>
                    @foreach (var status in Enum.GetValues(typeof(ClassroomStatus)))
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-select mb-3" asp-for="SortOrder">
                    <option value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                    <option value="name">Name A-Z</option>
                    <option value="nameDesc">Name Z-A</option>
                </select>
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-between mb-3">
        <form action="@Url.Action("Create", "LecturerClassroom")">
            <button class="btn btn-primary">Create Classroom</button>
        </form>
        <a href="@Url.Action("Search", "LecturerClassroom")" class="btn btn-primary ms-auto">
            <i class="bi bi-x-circle"></i> Clear Filters
        </a>
    </div>

    <div class="row">
        @if (Model.Classrooms != null)
        {
            @foreach (var classroom in Model.Classrooms)
            {
                <div class="col-md-4 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="@classroom.Course.ImgUrl" alt="Course Image" class="img-fluid mb-3">
                            <h5 class="card-title">@classroom.Course.Name</h5>
                            <p class="card-text">Uploaded by: @classroom.Lecturer.UserName</p>

                            <div class="d-flex justify-content-between">
                                <p class="card-text">Last updated: @classroom.UpdatedAt.ToString("dd/MM/yyyy")</p>
                                <p class="card-text" style="color: @(classroom.Status.ToString().ToLower() == "active" ? "green" : "red")">@classroom.Status.ToString()</p>
                            </div>

                            <a asp-controller="LecturerClassroom" asp-action="Details" asp-route-id="@classroom.Id" class="btn btn-primary">View Classroom</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No classrooms available.</p>
        }
    </div>

    <div class="d-flex justify-content-center">
        <partial name="ReusableViews/_PagingBar" model="@ViewBag.CurrentPage" />
    </div>
</div>
